@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(226, 43%, 10%);
}

.work {
    background-image: url('/images/icon-work.svg');
    background-repeat: no-repeat;
    background-position: top right;
    align-items: end;
}

.play {
    background-image: url('/images/icon-play.svg');
    background-repeat: no-repeat;
    background-position: top right;
    align-items: end;
}

.study {
    background-image: url('/images/icon-study.svg');
    background-repeat: no-repeat;
    background-position: top right;
    align-items: end;
}

.exercise{
    background-image: url('/images/icon-exercise.svg');
    background-repeat: no-repeat;
    background-position: top right;
    align-items: end;
}
.social {
    background-image: url('/images/icon-social.svg');
    background-repeat: no-repeat;
    background-position: top right;
    align-items: end;
}


.self {
    background-image: url('/images/icon-self-care.svg');
    background-repeat: no-repeat;
    background-position: top right;
    align-items: end;
}